<?xml version="1.0"?>
<xacro:macro xmlns:xacro="http://www.ros.org/wiki/xacro" name="hand_materials">
  <material name="HandPalm">
    <color rgba="0.82 0.75 0.70 1.0"/>
  </material>
  <material name="HandFinger">
    <color rgba="0.86 0.78 0.72 1.0"/>
  </material>
  <material name="HandJoint">
    <color rgba="0.35 0.35 0.38 1.0"/>
  </material>
</xacro:macro>
